html {
  background: black;
  min-height: 100%;
  color: #dadadf;
  font-weight: 100;
  font-family: Helvetica Neue, Segoe UI, sans-serif;

}

body {
  margin: 0;
  overflow: hidden;


}



.viewport {
  width: 1920px;
  height: 1080px;
  position: relative;
}


.description-holder {
  perspective-origin:50% 50%;
  perspective: 600px;

  width: 1000px;
  position: absolute;
  right: 60px;
  top: 20px;
}

.description {
  position: absolute;
  text-align: right;
  
  font-size: 3em;
  opacity: 0;
  transition: opacity 1s, transform 2s;
  transform: translateZ(-600px);
}

.description.active {
  display: block;
  transform: translateZ(0px);
  opacity: 1;
}

.description > div {
  display: inline-block;
}
.description h1 {
  font-size: 8rem;
  font-weight: 200;
  text-shadow: 1px 0 0 #ccc;
  line-height: 24px;
}

.description p {
  line-height: 0.9em;
}

.description dt {
  text-align: left;
}

.image {
  width: 170px;
}

.list {
  position: absolute;
  left: 60px;
  top: 20px;
  text-align: left;
}

.list ul {
  padding: 0;
}
.list ul li {
  list-style-type: none;
}




a {
  color: #9a9a9a; 
}

.item {
  font-size: 2rem;
  transition: margin-left 1s, margin-top 0.5s, margin-bottom 0.5s;
}

.item.active {
    font-weight: 200;
    text-shadow: 1px 0 0 #ccc;
  margin-left: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}